<form #form="ngForm" (ngSubmit)="submit(form.value)" class="options">
  <div>
    <label for="name">نام</label><br>
    <input id="name" name="name" ngModel type="text">
  </div>
  <div>
    <label for="age">سن:</label><br>
    <input id="age" max="120" [min]="0" name="age" ngModel type="number">
  </div>

  <button type="submit">Submit</button>
</form>

<div *ngIf="people">

  <div *ngFor="let person of people!.person">
    id: {{ person!.id }} name: {{ person!.name }} age: {{ person!.age }}
  </div>

</div>
